*{
margin: 0;
padding: 0;
font-family: 'Arimo', sans-serif;
 }
 body{
   background-color: #f2f2f2;

}

.title{
    margin: 25px;
    margin-top: 10px;

}
.list{
    padding: 25px;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    margin: 18px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: none; 
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;

}
.important{
    display: block;
    width: 50%;
    margin-right: 20px;
    margin-left: 36px;
    font-size: 28px;
    line-height: 45px;
}


.navbar li{
    float: left;
    border-right:1px solid #f2f2f2;
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a{
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.actived){
    background-color: #cccccc;
    text-decoration: none;
}

.actived{
    background-color: #3881f7;
}

#logo{
    height: 50px;
}

#myVideo {

    min-width: 100%; 
    max-height: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

